      <tr>
        <td><h5><%= form.label :name %><p>Enter a text name for this listing.</p></td>
        <td class="edit_col"><%= form.text_field :name %></td>
      </tr>
      <tr>
        <td><h5><%= form.label :category_id %></h5><p>Which category most fits what you are trying to list on ScavNet?</p></td>
        <td><%= form.collection_select :category_id, Category.all, :id, :name %></td>
      </tr>
      <tr>
        <td><h5><%= form.label :description %></h5><p>Enter some basic information about what you would like to list on ScavNet.</p></td>
        <td><%= form.text_area :description %></td>
      </tr>
      <tr>
        <td><h5><%= form.label :location %></h5><p>Where is your stuff currently located?</p></td>
        <td><%= form.collection_select :location_id, Location.all, :id, :name %></td>
      </tr>
      <tr>
        <td><h5><%= form.label :room %></h5><p>Optional: In which room is your item currently located?</p></td>
        <td><%= form.text_field :room %></td>
      </tr>
      <tr>
        <td><h5><%= form.label :pickup_details %></h5><p>How can people pick up your item if they're interested?</p></td>
        <td><%= form.text_area :pickup_details %></td>
      </tr>
      <tr>
        <td><h5><%= form.label :photo %></h5><p>If you have a photo of your item, add it here.</p></td>
        <td><%= form.file_field :photo %></td>
      </tr>
      <tr>
        <td><h5><%= form.label :status %></h5><p>What's the current availibility of the item you are currently listing?</p></td>
        <td><%= form.select :status, ["Available","Contact First","Reserved"] %></td>
      <tr>
      <tr>
        <td><h5><%= form.label :quantity %></h5><p>How many of this item do you have?</p></td>
        <td><%= form.text_field :quantity %></td>
      </tr>
      <tr>
        <td><h5><%= form.label :expiration %></h5><p>How long would you like this item to be listed?</p></td>
        <td><%= form.date_select :expiration %></td>
      </tr>
<% if @item.allowed_to_write(:user_id) %>
      <tr>
        <td><h5><%= form.label :user_id %></h5><p>Choose the owner of this listing. <strong>Note: you can change the owner because you are an admin. Use with caution; only submit on someone else's behalf with their knowledge and when acting as an administrator.</strong></p></td>
        <td><%= form.collection_select :user_id, User.all, :id, :name %></td>
      </tr>
<% end %>
