<table class="scav_listing" cellpadding="0" cellspacing="0" width="100%" id="listings">
  <thead>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Category</th>
    <th>Location</th>
    <th>Room</th>
    <th>Status</th>
    <th>Expires</th>
    <th></th>
  </tr>
 </thead>
 <tbody>
<% items.each do |item| %>
  <tr class="<%= cycle('listing_even', 'listing_odd') %>">
    <td>
      <center>
        <%= link_to(image_tag(item.photo.url(:thumb)), item) unless item.photo_file_name.blank? %>
      </center>
    </td>
    <td><%= link_to item.name, item %></td>
    <td><%=h item.category.name %></td>
    <td><%=h item.location.name %></td>
    <td><%=h item.room %></td>
    <td><%=h item.status %></td>
    <td><%= item.expiration.strftime('%m/%d') %>
    <td>
      <%= link_to 'Edit', edit_item_path(item) %> | 
      <%= link_to 'Delete', item, :confirm => 'Are you sure?', :method => :delete %> 
    </td>
  </tr>
<% end %>
 </tbody>
</table>
<% if items.blank? %>
  Sorry, no items matches your query!
<% end %>

