<div id="titleblock">
  <%= image_tag 'scavnet_logo.jpg' %><br /><br />
  <h2>Exchange materials, equipment, and random junk from the lab or the room!</h2><br /><br />
</div>
<div id="search_padding">
  <table cellpadding="6" cellspacing="0" width="100%">
    <tr>
      <td class="searchbox" width="45%">
        <h2>Live Search</h2>
        <div style="float:left; width:85%">
         <% form_tag({:action=>:search}, :method => :get) do %>
            <%= text_field_tag :query, params[:query] %>
            <%= observe_field(:query, :url => {:action => :search}, 
                              :frequency => 0.25, :update => :main_table,
                              :with => 'query', :complete => 'TableKit.reload();') %>
         <% end %>
        </div>
        <div style="float:right;text-align:left; width:15%;">
          <%= link_to_function(image_tag('cancel_sel.gif')) do |page|; page[:query].value = ''; end %>
        </div>
      </td>
      <td class="toplinks" width="55%">
        <ul>
          <li><%= link_to 'Add Listing', new_item_path %></li>
          <li><%= link_to 'Add Location', new_location_path %></li>
          <li><%= link_to 'Add Category', new_category_path %></li>
        </ul>
      </td>
    </tr>
  </table>
</div>
<div id="main_table">
  <%= render :partial => 'table', :locals => {:items => @items} %>
</div>
<br />
<% content_for :script do %>
  <%= javascript_include_tag 'tablekit' %>
  <script type="text/javascript">Event.observe(window, 'load', function() {TableKit.Sortable.init('listings');});</script>
<% end %>

