<h1>Listing items</h1>

<table>
  <tr>
    <th>User</th>
    <th>Category</th>
    <th>Location</th>
    <th>Room</th>
    <th>Name</th>
    <th>Description</th>
    <th>Quantity</th>
    <th>Pickup details</th>
    <th>Status</th>
    <th>Expiration</th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%=h item.user %></td>
    <td><%=h item.category %></td>
    <td><%=h item.location %></td>
    <td><%=h item.room %></td>
    <td><%=h item.name %></td>
    <td><%=h item.description %></td>
    <td><%=h item.quantity %></td>
    <td><%=h item.pickup_details %></td>
    <td><%=h item.status %></td>
    <td><%=h item.expiration %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New item', new_item_path %>