<div class="item_header"> 
  <div class="item_header_padding"> 
    <h1><%= @item.name %> <span style="color:#cccccc; font-size:0.6em; font-weight:normal;">@</span> <%= @item.location.name %></h1> 
  </div> 
</div> 
<div class="header_sub"> 
 
<%= link_to 'Edit', edit_item_path(@item) %>
 
 
</div> 
<div class="indent_1"> 
  <div class="img_insert"> 
  <%= image_tag @item.photo.url(:medium) unless @item.photo_file_name.nil? %>
  </div>
  <br />
  <br />
  <h6>Description:</h6> 
  <p><%=h @item.description %></p> 
  <h6>Pick-up Details:</h6> 
  <p><%=h @item.pickup_details %></p> 
  <h6>Current Status: <span class="status"><%= @item.status %></span></h6> 
  <h6>Contact E-mail: <span class="contact"><%= mail_to @item.user.email, nil, :replace_at => " AT ", :replace_dot => " DOT " %></span></h6> 
  <div class="item_footer"> 
    <div class="item_footer_padding"> 
      <span class="strong_link"><%= link_to 'Master List', items_path %></span>Filed under <strong><%= @item.category.name %><strong> 
    </div> 
  </div> 
