<div class="item_header"> 
  <div class="item_header_padding"> 
    <h1><%= @item.name %> <span style="color:#cccccc; font-size:0.6em; font-weight:normal;">@</span> <%= @item.location.name %></h1> 
  </div> 
</div> 
<div class="header_sub">
  <%= link_to 'Edit', edit_item_path(@item) %> 
</div>
<div class="indent_1"> 
  <div class="img_insert"> 
    <%= link_to image_tag(@item.photo.url(:medium)), image_path(@item.photo.url(:original)) unless @item.photo_file_name.nil? %>
  </div>
  <br />
  <br />
  <% if !@item.description.blank? %>
    <h6>Description:</h6> 
    <p><%=h @item.description %></p>
  <% end %>
  <% if !@item.pickup_details.blank? %>
    <h6>Pick-up Details:</h6> 
    <p><%=h @item.pickup_details %></p>
  <% end %>
  <h6>Current Status: <span class="status"><%= @item.status %></span></h6> 
  <h6>Location: <span class="location"><%= @item.location.name %> <%= @item.room unless @item.room.blank? %></span></h6> 
  <h6>Expires: <span class="expires"><%= @item.expiration.strftime("%A, %B %d, %Y") %></span></h6>
  <h6>Contact E-mail: <span class="contact"><%= mail_to @item.user.email, nil, :replace_at => " AT ", :replace_dot => " DOT " %></span></h6> 
  <div class="item_footer"> 
    <div class="item_footer_padding"> 
      <span class="strong_link"><%= link_to 'Master List', items_path %></span>Filed under <strong><%= @item.category.name %><strong> 
    </div> 
  </div> 
